/** サイドメニュー調整 */
div.c-sidebar-nav-icon {
	position: relative;
}
div.c-sidebar-nav-icon i {
	position: absolute;
	top: 0;
	right: 15px;
}

/** カードタイトル */
.card-header .title {
	text-align: center !important;
}

.list-group.list-space:nth-child(n+2) {
	margin-top: 10px;
}